body{


    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout{
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap; --No se sobresalgan los contenidos*/

    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    
    height: 600px;
    border: 3px solid black;
    padding: 5px;
}

.caja{  
    /*flex-grow: 1;            ayuda a darle una mismo tamano a los divs*/
    /*flex-basis: calc((100% / 3) - 68px);*/ 

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: grey;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
}

.red{
    align-self: flex-start;
    background: red;
}

.green{
    margin-top: 11%;
    background: green;
}

.blue{
    align-self: center;
    background: blue;
}

.orange{
    /*order: 3;*/
    /*flex-basis: 100%;*/
    align-self: flex-end;
    background: orange;
}