$fuente-tipica: Arial, Helvetica;
$fondo-color: #ccc;
$color-letra: red;

body{
    background-color: $fondo-color;
}

h1{
    font-family: $fuente-tipica;
    color: $color-letra;
}

.caja{
    border: 1px solid black;
    width: 500px;
    margin: 0px auto;
    text-align: center;
    background-color: white;
    padding: 10px;

    h1{
        color: blue;
        font-family: $fuente-tipica;
    }
    p{
        color: blueviolet;
    }

    .info{
        font-size: 15px;
    }
}