
//Variables
$fuente-tipica: Arial, Helvetica;
$fondo-color: #ccc;
$color-letra: red;

//Uso de variables
body{
    background-color: $fondo-color;
}

h1{
    font-family: $fuente-tipica;
    color: $color-letra;
}

//anidacion
.caja{
    border: 1px solid black;
    width: 500px;
    margin: 0px auto;
    text-align: center;
    background-color: white;
    padding: 10px;

    h1{
        color: blue;
        font-family: $fuente-tipica;
    }
    p{
        color: blueviolet;
    }

    .info{
        font-size: 15px;
    }
}

//Mixins //Funciones
@mixin crearBordes($color, $shadow,$size){ //Lo de adentro del parentesis son parametros
    border: $size solid $color;
    border-radius: $size;
    box-shadow: 0px 0px $size $shadow;
}

.caja{
    @include crearBordes(red,black,10px);
}

.lista{
    @include crearBordes(green,yellow,5px);
}

//Herencia
%alert-normal{
    border: 1px solid grey;
    background-color: #eee;
    color: black;
    padding: 10px;
    width: 80%;
    margin: 20px auto;
}

.alert{
    @extend %alert-normal;
}

.alert-danger{
    @extend %alert-normal;
    color: red;
    border-color: red;
}

.alert-success{
    @extend %alert-normal;
    color: green;
    border-color: green;
}

//Operadores
.clearfix{
    clear: both;
}

h1{
    font-size: 30px - 5px; //Operaciones matematicas
}

$caja: 200px;
$wrap: 900px;

.cajas{
    width: $wrap;
    margin: 0px auto;
}
.caja{
    float: left;
    width: $caja / $wrap * 100%;
    margin: 10px;
}

//Condicionales-if
h1{
    @if $fondo-color == #ccc{
        color: black;
    } @else{
        color: lightsalmon;
    }
}
//Bucles //For
$contador:1 ;

@for $contador from 1 to 8{

    .lista ul li:nth-child(#{$contador}){
        color: orange;
        font-size: $contador + 10px;
    }
    
}
//Each

//While