body{
    background: #cccccc;
}

/*Fuentes Personalizadas*/

@font-face {
    font-family: "Trebuchet";
    src: url(fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue";
    src: url(fonts/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "webSymbols";
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(fonts/websymbols-regular-webfont.woff) format('woff'),
         url(fonts/websymbols-regular-webfont.ttf) format('truetype'),
         url(fonts/websymbols-regular-webfont.svg#webSymbols) format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Generales*/

.gear{
    font-family: "webSymbols";
}
