/*Fuentes Personalizadas*/

@font-face {
    font-family: "Trebuchet";
    src: url(fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue";
    src: url(fonts/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "webSymbols";
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(fonts/websymbols-regular-webfont.woff) format('woff'),
         url(fonts/websymbols-regular-webfont.ttf) format('truetype'),
         url(fonts/websymbols-regular-webfont.svg#webSymbols) format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Generales*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(../img/pattern.png)
}

.gear, .icon{
    font-family: "webSymbols";
}

.wrap{
    width: 1250px;
    margin: 0px auto;
}

/*Estilops a la cabecera*/

#header{
    width: 100%;
    height: 70px;
    background-color: black;
    font-family: "BebasNeue";
    color: white;
}

#logo{
    float: left;
    width: 200px;
    margin-top: 8px;
    margin-left: 20px;
    background-color: #37bcf9;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
}

#logo .gear{
    display:block;
    float: left;
    font-size: 30px;
    margin-top: 8px;
    margin-left: 26px;

}

#logo h3{
    margin-right: 65px;
    display: block;
    font-size: 40px;
    float: right;
    font-size: 40px;
    margin-top: 5px;
    transition: all 300ms;

}

#menu{
    float:right;
    height: 70px;
    background: transparent;
}

#menu ul li {
    font-size: 24px;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 70px;
}

#menu ul li a{
    color: white;
    display: block;
    text-decoration: none;
    transition: all 300ms;
}

#menu ul li a:hover{
    color: #37bcf9;
    transform: scale(1.2,1.2);
}

/*Bannner*/

#banner{
    width: 95.5%;
    height: 100px;
    border: 10px solid white;
    box-shadow: 0px 0px 2px gray;
    background: url("../img/bakbaner.png");
    background-position: -200px -200px;
    margin: 20px auto;
}

#banner h1{
    color: white;
    display: block;
    width: 850px;
    font-family: "BebasNeue";
    font-size: 45px;
    font-weight: normal;
    letter-spacing: 2px;
    text-shadow: 2px 2px 1px black;
    margin: 27px auto; 
    margin-left: 33%;
}

/*Cards*/

.card{
    float: left;
    overflow: hidden;
    height: 305px;
    width: 205px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ddd;
    margin: 22px;
    margin-top: 40px;
    background: white;
    cursor: pointer;
}

.card:last-child{
    margin-right: 0px;
}

.card .icon{
    display: block;
    width: 100%;
    height: 130px;
    font-size: 50px;
    line-height: 110px;
    text-align: center;
    margin: 0px auto;
}

.card .category{
    width: 100%;
    height: 50px;
    font-family: "Trebuchet";
    font-size: 21px;
    font-weight: bold;
    color: #00538c;
    text-align: center;
}

.card .description{
    width: 100%;
    text-align: center;
    color: #00538c;
    font-family: "Trebuchet";
    font-size: 15px;
}