body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#website{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 150px 70px 1fr 70px;

    width: 75%;
    height: 1000px;
    margin: 0px auto;
    border: 1px solid #ccc;
}

#cabecera{
    grid-column: 1 / 6;

    background: blue;
    color: white;
}

#menu{
    grid-column: 1 / 6;

    background: lightblue;
    color: black;
}

#contenido{
    grid-column: 1 / 5;

    background: #eee;
}

#contenido article{
    background: #ccc;
    border: 1px solid #555;
}

#lateral{
    grid-column: 5 / 6;

    background: orange;
    color: white;
}

#footer{
    grid-column: 1 / 6;

    background-color: black;
    color: white;
}






/*Ejercicios Pasados*/
.layout{
    /*Definir el contenedor*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    /*Espacio entre elementos grid*/
    grid-gap: 10px;

    
    width: 80%;
    height: 600px;
    margin: 0px auto;
    border: 3px solid orangered;
    padding: 10px;
}

.layout .caja{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    background: gray;
}

.layout .red{
    grid-column-start: 1;
    grid-column-end: 4;

    background: red;
}

.layout .green{
    background: green;
    grid-row-start:2;
    grid-row-end: 4;
}

.layout .blue{
    background: blue;
}

.layout .purple{
    background: purple;

    grid-column: 1 / 4;
}

.layout .yellow{
    background: yellow;

    grid-column: 2 / 4;
}

.layout .pink{
    background: pink;

    grid-row: 3 / 5;
    grid-column: 2 / 4;
}